---
import AddProduct from "../components/AddProduct";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Wallbit Junior Frontend Challenge">
  <main class="min-h-dvh max-w-screen-lg mx-auto content-center p-8 overflow-x-auto">
    <AddProduct client:load />
  </main>
</Layout>
